body {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  color: blue;
  font-family: sans-serif;
  border: solid 1px red;
  margin: 20px;
  padding: 10px;
}

p {
  border: 1px solid black;
}

#mydiv1 {
  border: 1px solid blue;
  margin: 20px;
  padding: 10px;
}

#mydiv2 {
  border: 1px solid red;
  margin: 10px;
  padding: 10px;
}
